.skeleton {
  background: linear-gradient(
    90deg,
    var(--bg-elevated) 25%,
    var(--bg-tertiary) 50%,
    var(--bg-elevated) 75%
  );
  background-size: 400% 100%;
  animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.songCardSkeleton {
  flex: 0 0 160px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 12px;
}
